header #main-header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}

@font-face {
    font-family: javairFonts;
    src: url(../fonts/QuattrocentoSans-Bold.otf);
}

javair {
    color: red;
    font-family: javairFonts;
    text-align: right;
}

.vert-line-right {
    border-right: groove;
    border-right-color: rgba(33, 33, 33, 0.61);
    border-right-width: 1px;

}

.header-block {
    height: 80px;
    text-align: center;
    background-color: rgba(52, 182, 206, 0.86);
    padding-bottom: 10px;
}

.header {
    padding-bottom: 30px;
}

.bottom-mar {
    margin-bottom: 10px;
}

#language {
    position: absolute;
    top: 10px;
    right: 10px;
}

.null-padding {
    padding: 1px;
}

.center-text {
    text-align: center;
    font-size: large;
    padding-top: 10px;
}

.center-text-div {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.filter-block {
    padding-top: 5px;
    padding-bottom: 10px;
    height: 30px;
}

a.item {
    display: block;
    position: relative;
}

a.item > img {
    max-width: 100%;
    height: auto;
}

a.item > span {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    text-align: center;
    vertical-align: middle;
}

a.item:hover > span {
    display: block;
}


.error-message {
    text-align: center;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

.input-box label {
    display: inline-block;
    width: 140px;
    text-align: right;
}

footer {
}